<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>chapter_9</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- 配置上下文参数，可以在servlet中通过getServletConfig().getServletContext()来获取上下文对象，然后调用其中的getInitParameter("key")获取参数 -->
  <context-param>
  	<param-name>upload folder</param-name>
  	<param-value>attachment</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.gb.servletdemo.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/helloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>life</servlet-name>
    <servlet-class>com.gb.servletdemo.lifeCycleServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>life</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>initparam</servlet-name>
    <servlet-class>com.gb.servletdemo.InitParamServlet</servlet-class>
    <init-param>
      <param-name>ref</param-name>
      <param-value>Hello World</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>initparam</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sessiondemo</servlet-name>
    <servlet-class>com.gb.servletdemo.HttpSessionDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessiondemo</servlet-name>
    <url-pattern>/sessiondemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>applicationdemo</servlet-name>
    <servlet-class>com.gb.servletdemo.ServletContextDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applicationdemo</servlet-name>
    <url-pattern>/applicationdemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>clientredirect</servlet-name>
    <servlet-class>com.gb.servletdemo.ClientRedirectDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientredirect</servlet-name>
    <url-pattern>/clientredirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>get_info</servlet-name>
    <jsp-file>/WEB-INF/get_info.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_info</servlet-name>
    <url-pattern>/get_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServerRedirectDemo</servlet-name>
    <servlet-class>com.gb.servletdemo.ServerRedirectDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerRedirectDemo</servlet-name>
    <url-pattern>/ServerRedirectDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/WEB-INF/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gb.mvcdemo.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SimpleFilter</filter-name>
    <filter-class>com.gb.filterdemo.SimpleFilter</filter-class>
    <init-param>
      <param-name>ref</param-name>
      <param-value>HELLO WORLD</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SimpleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.gb.filterdemo.EncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.gb.listenerdemo.ServletContextListenerDemo</listener-class>
  </listener>
  <listener>
    <listener-class>com.gb.listenerdemo.ServletContextAttributeListenerDemo</listener-class>
  </listener>
  <listener>
    <listener-class>com.gb.listenerdemo.HttpSessionListenerDemo</listener-class>
  </listener>
  <listener>
    <listener-class>com.gb.listenerdemo.HttpSessionAttributeListenerDemo</listener-class>
  </listener>
  <listener>
    <listener-class>com.gb.listenerdemo.ServletRequestListenerDemo</listener-class>
  </listener>
  <listener>
    <listener-class>com.gb.listenerdemo.ServletRequestAttributeListenerDemo</listener-class>
  </listener>
  <listener>
    <listener-class>com.gb.listenerdemo.OnlineUserList</listener-class>
  </listener>
  <servlet>
    <servlet-name>application_attribute_add</servlet-name>
    <jsp-file>/WEB-INF/application_attribute_add.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>application_attribute_add</servlet-name>
    <url-pattern>/application_attribute_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>application_attribute_remove</servlet-name>
    <jsp-file>/WEB-INF/application_attribute_remove.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>application_attribute_remove</servlet-name>
    <url-pattern>/application_attribute_remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session_attribute_add</servlet-name>
    <jsp-file>/WEB-INF/session_attribute_add.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>session_attribute_add</servlet-name>
    <url-pattern>/session_attribute_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session_attribute_remove</servlet-name>
    <jsp-file>/WEB-INF/session_attribute_remove.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>session_attribute_remove</servlet-name>
    <url-pattern>/session_attribute_remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session_bound</servlet-name>
    <jsp-file>/WEB-INF/session_bound.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>session_bound</servlet-name>
    <url-pattern>/session_bound</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>session_unbound</servlet-name>
    <jsp-file>/WEB-INF/session_unbound.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>session_unbound</servlet-name>
    <url-pattern>/session_unbound</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>request_attribute_add</servlet-name>
    <jsp-file>/WEB-INF/request_attribute_add.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>request_attribute_add</servlet-name>
    <url-pattern>/request_attribute_add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login_listener</servlet-name>
    <jsp-file>/WEB-INF/login_listener.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_listener</servlet-name>
    <url-pattern>/login_listener</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>list</servlet-name>
    <jsp-file>/WEB-INF/list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  
  <servlet>
  	<servlet-name>IdentityServlet</servlet-name>
  	<servlet-class>com.gb.servletdemo.IdentityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IdentityServlet</servlet-name>
  	<url-pattern>/servlet/IdentityServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InjectionServlet</servlet-name>  
  	<servlet-class>com.gb.servletdemo.InjectionServlet</servlet-class>	
  </servlet>  
  <servlet-mapping>
  	<servlet-name>InjectionServlet</servlet-name>
  	<url-pattern>/InjectionServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 通过注解可以获取的参数 (资源配置) -->
  <env-entry>
  	<env-entry-name>param1</env-entry-name>
  	<env-entry-type>java.lang.String</env-entry-type>
  	<env-entry-value>Welcome to annotation</env-entry-value>
  </env-entry>
   <env-entry>
  	<env-entry-name>param2</env-entry-name>
  	<env-entry-type>java.lang.Integer</env-entry-type>
  	<env-entry-value>1</env-entry-value>
  </env-entry>
  
</web-app>