<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>chapter_8</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
	<servlet>
  		<servlet-name>ProgressUploadServlet</servlet-name>
	  	<servlet-class>com.gb.uploader.ProgressUploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ProgressUploadServlet</servlet-name>
  	<url-pattern>/servlet/ProgressUploadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>progressUpload</servlet-name>
  	<jsp-file>/WEB-INF/progressUpload.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>progressUpload</servlet-name>
  	<url-pattern>/servlet/progressUpload</url-pattern>
  </servlet-mapping>
</web-app>